<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add a New farm..</h1>
    <form class="" action="/farms" method="post">
      <div class="">
        <label for="name">Name:</label>
        <input id="name" type="text" name="name" placeholder="Enter Name" value="">
      </div><br>
      <div class="">
        <label for="email">email:</label>
        <input id="email" type="text" name="email" placeholder="Enter email" value="">
      </div><br>
      <div class="">
        <label for="contactNumber">contact Number:</label>
        <input id="contactNumber" type="text" name="contactNumber" placeholder="Enter contactNumber" value="">
      </div><br>
      <button>Submit</button>
    </form>
  </body>
</html>
